<div>
  <div
    cdkDropList
    #one="cdkDropList"
    [cdkDropListData]="list1"
    [cdkDropListConnectedTo]="[two]"
    class="item-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="item-box" *ngFor="let animal of list1" cdkDrag>
      Animal {{ animal }}
    </div>
  </div>

  <div
    cdkDropList
    #two="cdkDropList"
    [cdkDropListData]="list2"
    [cdkDropListConnectedTo]="[one]"
    class="item-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="item-box" *ngFor="let animal of list2" cdkDrag>
      Other {{ animal }}
    </div>
  </div>
</div>
