<configuration>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>

  <!-- https://github.com/paypal/PayPal-NET-SDK/wiki/Configuration -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="clientId" value="xxx" />
      <add name="clientSecret" value="xxx" />
    </settings>
  </paypal>
</configuration>