@model Comment
@{
    Layout = null;
}
<ul>
    <li>API Key: @Configuration["SecretValues:SecretApiKey"]</li>
    <li>Other Key: @Configuration["SecretValues:SecretOtherKey"]</li>
</ul>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title>Sample comment page</title>
</head>
<body>
    <form asp-action="Index" method="post">
        <div>
            <label for="Title">Title</label>
            <input type="text" name="Title" id="Title" />
        </div>
        <div>
            <label for="Content">Content</label>
            <textarea type="text" name="Content" id="Content" rows="8" cols="20"></textarea>
        </div>
        <div>
            <div class="g-recaptcha" data-sitekey="@Configuration["ReCaptcha:ClientKey"]"></div>
        </div>
        <div>
            <button type="submit">Send comment</button>
        </div>
    </form>

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
    </script>


</body>
</html>