
@model List<List<object>>


<script src="~/js/site.js"></script>
<script src="~/lib/charts/Chart.bundle.min.js"></script>

<!--przykłady z jQuery AJAX get function pominięte-->

<div class="container">
    <div class="row" style="width: 50%;">
        <div class="col-sm-5">
            <canvas id="chart1" width="300" height="250"></canvas>
        </div>
        <div class="col-sm-5">
            <canvas id="chart2" width="300" height="250"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <canvas id="chart3"></canvas>
        </div>
        <div class="col-sm-5">
            <canvas id="chart4"></canvas>
        </div>
    </div>
</div>

<script>
    var data = {
        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"],
        datasets: [
            {
                label: "My First dataset",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: [65, 59, 80, 81, 56, 55, 40],
                spanGaps: false,
            }
        ]
    };

    new Chart("chart2", {
        type: "line",
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [{
                label: "First dataset",
                fill: false,
                borderColor: "rgba(220,100,120,1)",
                pointRadius: 0,
                pointHitRadius: 10,
                pointHoverRadius: 10,
                data: [65, 59, 80, 81, 56, 55, 40],
            }, {
                label: "Second dataset",
                fill: false,
                borderColor: "rgba(151,187,205,1)",
                pointRadius: 0,
                pointHitRadius: 10,
                pointHoverRadius: 10,
                data: [28, 48, 40, 19, 86, 27, 90],
            }]
        },
        options: {
            tooltips: {
                mode: "label"
            }
        }
    });
</script>

<script type="text/javascript">
    var ctx = "chart1";
    new Chart(ctx, {
        type: "line",
        data: {
            labels: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"],
            datasets: [{
                label: "First dataset",
                data: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29],
            }, {
                label: "Second dataset",
                data: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34],
            }]
        },
    });
</script>