<div id='radios'>
    <input type='radio'
           id='repeatRadio' name='patternRadio' checked />repeat
    <input type='radio'
           id='repeatXRadio' name='patternRadio' />repeat-x
    <input type='radio'
           id='repeatYRadio' name='patternRadio' />repeat-y
    <input type='radio'
           id='noRepeatRadio' name='patternRadio' />no repeat
</div>
<canvas id='canvas' width='450' height='275'>
    Canvas not supported
</canvas>
<script src='~/js/example.js'></script>