<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="~/src/lib/Chart.min.css" />
    <title>Sample app</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>