

<!DOCTYPE html>
<html>
<head>
    <title>Aplikacja</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/dist/allstyles.css" />
</head>
<body>
    <div id="app"></div>
    <br />
    <p class="text">Move your mouse around!<p>

        <script src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous"></script>
        <script src="~/src/realshadow.js"></script>
        <script src="~/dist/bundle.js"></script>
        <script>
            const text = document.querySelector(".text");

            const shadowContainer = document.createElement("div");
            shadowContainer.classList.add("shadow-container");

            text.appendChild(shadowContainer);

            for (letter of text.textContent) {
                const span = document.createElement("span");
                span.textContent = letter;
                span.classList.add("shadow");
                shadowContainer.appendChild(span);
            }

            const shadows = Array.from(document.querySelectorAll(".shadow"));

            window.addEventListener("mousemove", (e) => {
                shadows.forEach((shadow) => {
                    const { x, y, width, height, ...rest } = shadow.getBoundingClientRect();
                    const xOff = x - e.pageX;
                    const yOff = y - e.pageY;
                    const xOffProp = xOff / (Math.abs(xOff) + Math.abs(yOff));
                    const yOffProp = yOff / (Math.abs(xOff) + Math.abs(yOff));
                    shadow.style = `left: ${xOffProp * 20}px; top: ${yOffProp * -10}px;`;
                });
            });
        </script>
</body>

</html>