<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add
        key="debugOnly"
        value="true"
        />
    <add
        key="logFile"
        value="../../../log.txt"
        />
    <add
        key="deleteLogs"
        value="true"
        />
  </appSettings>
</configuration>
