<!DOCTYPE html>
<html>
<head>
    <title>Aplikacja</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<body class="container">

    <img src="@Url.Action("GetImage")" />

</body>
</html>
