<!DOCTYPE html>
<html>
<head>
    <title>Aplikacja</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/dist/allstyles.css" />
</head>
<body class="container">
    <div>
    </div>
    <div id="app" class="dupa">
        <!-- tutaj będzie renderowana moja aplikacja React -->
    </div>
    <div id="fillthiswithjquery">
        <!-- tutaj będzie renderowana moja aplikacja jQuery -->
    </div>

    <br /><br /><br />

    <div id="basicreactcomponent"></div>

    <br /><br /><br />

    <div id="reactcomponentwithapidata"></div>
    <script src="~/dist/bundle.js"></script>
</body>
</html>