.container {
  display: inline;
  justify-content: space-between;
}

.rotate {
  transform-origin: top left;
  transform: translateX(50px) rotate(90deg);
}

.rotateNot {
  transform: rotate(0deg);
}

.droplist {
  position: relative;
  height: 100%;
  margin: 0;
}

.ships {
  height: 150px;
  margin: 40px;
}

.cdk-drag-placeholder {
  display: none;
}

.ship-box {
  background-color: coral;
  position: absolute;
  top: 0;
  height: 50px;
  z-index: 100;
}

.ship-box-cell {
  border: 1px dotted;
  width: 50px;
  height: 50px;
  display: inline-block;
}

app-ship {
  position: absolute;
  cursor: pointer;
}

.item-list {
  position: relative;
}

.item-box {
  cursor: pointer;
}

.row {
  display: inline-block;
}
.cell {
  width: 50px;
  height: 50px;
  border: solid 1px #ccc;
  background-color: rgba(0, 162, 255, 0.2);
}

.cell:hover {
  background-color: rgb(0, 162, 255);
}

.bt-cell {
  width: 50px;
  height: 100%;
}

.ship-box {
  height: 50px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
