<div class="container">
  <div class="ships">
    <h2>Available ships: {{ this.list1.length }}</h2>
    <div
      class="droplist"
      #list
      (mouseover)="hoveredElement(list.getBoundingClientRect(), 'list', -1, -1)"
    >
      <div *ngIf="list1.length > 0">
        <div [style.size]="50 * list1[0].size + 'px'">
          <app-ship
            #nextItem
            cdkDrag
            [ngClass]="list1[0].rotation === 90 ? 'rotate' : 'rotateNot'"
            [style.left.px]="xInitial"
            [style.top.px]="yInitial"
            [size]="list1[0].size"
            (click)="setRotation(0 + '-list1')"
            (cdkDragStarted)="dragStarted($event, 0 + '-list1')"
            (cdkDragEnded)="dragEnded($event)"
            (cdkDragMoved)="dragMoved($event)"
          ></app-ship>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="example-boundary">
  <div class="droplist">
    <div *ngFor="let ship of list2; let i = index">
      <app-ship
        cdkDrag
        id="{{ i }}"
        [ngClass]="ship.rotation === 90 ? 'rotate' : 'rotateNot'"
        [style.top.px]="ship.top"
        [style.left.px]="ship.left"
        [size]="ship.size"
        (click)="setRotation(i + '-list2')"
        (cdkDragStarted)="dragStarted($event, i + '-list2')"
        (cdkDragEnded)="dragEnded($event)"
        (cdkDragMoved)="dragMoved($event)"
      >
      </app-ship>
    </div>
    <div class="board" #board>
      <div class="row" *ngFor="let row of boardP1; let i = index">
        <div *ngFor="let box of row; let j = index" id="columns">
          <div
            class="cell"
            #cell
            (mouseover)="
              hoveredElement(cell.getBoundingClientRect(), 'cell', j, i)
            "
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
