<div id='glasspane'>
    <h2 class='title'>Bouncing Balls</h2>
    <p>One hundred balls bouncing</p>
    <a id='startButton'>Start</a>
</div>
<canvas id='canvas' width='750' height='500'>
    Canvas not supported
</canvas>
<script src="js/example.js" type="text/javascript" charset="utf-8"></script>