<!DOCTYPE html>
<html>
<head>
    <title>Aplikacja</title>
    <meta charset="utf-8">
</head>
<body class="container">
    <div>
        TEST
    </div>
    <p>Normal HTML here.</p>

    <input type="text">

    <form action="example/submit.html">
        Name: <input type="text" name="name"><br>
        Password: <input type="password" name="password"><br>
        <button type="submit">Log in</button>
    </form>

    <script>
        //focus
        document.querySelector("input").focus();
        console.log(document.activeElement.tagName);
        // → INPUT
        document.querySelector("input").blur();
        console.log(document.activeElement.tagName);
// → BODY

        //form
        let form = document.querySelector("form");
        console.log(form.elements[1].type);
        // → password
        console.log(form.elements.password.type);
        // → password
        console.log(form.elements.name.form == form);
// → true

        //itd....


        //fetch example GET
        fetch("example/data.txt").then(response => {
            console.log(response.status);
            // → 200
            console.log(response.headers.get("Content-Type"));
            // → text/plain
        });

        //fetch DELETE
        fetch("example/data.txt", { method: "DELETE" }).then(resp => {
            console.log(resp.status);
            // → 405
        });

        //fetch with header
        fetch("example/data.txt", { headers: { Range: "bytes=8-19" } })
            .then(resp => resp.text())
            .then(console.log);
// → the content

        //CORS
        Access - Control - Allow - Origin: *


    </script>
</body>
</html>