<!DOCTYPE html>
<html>
<head>
    <title>Aplikacja</title>
    <meta charset="utf-8">
</head>
<body class="container">
    <div>
        TEST
    </div>
    <script>
        let sequence = [1, 2, 3];
        sequence.push(4);
        sequence.push(5);
        console.log(sequence);
        // → [1, 2, 3, 4, 5]
        console.log(sequence.pop());
        // → 5
        console.log(sequence);
        // → [1, 2, 3, 4]

        let day1 = {
            squirrel: false,
            events: ["work", "touched tree", "pizza", "running"]
        };
        console.log(day1.squirrel);
        // → false
        console.log(day1.wolf);
        // → undefined
        day1.wolf = false;
        console.log(day1.events[1]);
        // → false

        function tableFor(event, journal) {
            let table = [0, 0, 0, 0];
            for (let i = 0; i < journal.length; i++) {
                let entry = journal[i], index = 0;
                if (entry.events.includes(event)) index += 1;
                if (entry.squirrel) index += 2;
                table[index] += 1;
            }
            return table;
        }
        console.log(tableFor("pizza", JOURNAL));
        // → [76, 9, 4, 1]

        console.log([1, 2, 3, 2, 1].indexOf(2));
        // → 1
        console.log([1, 2, 3, 2, 1].lastIndexOf(2));
        // → 3

        console.log([0, 1, 2, 3, 4].slice(2, 4));
        // → [2, 3]
        console.log([0, 1, 2, 3, 4].slice(2));
// → [2, 3, 4]  

    </script>
</body>
</html>