<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add
        key="addressAPI"
        value="http://localhost:7000/"
        />
    <!--in a C# string use Server=(localdb)\\...-->
    <add
        key="dbConnectionString"
        value="Server=(localdb)\MSSQLLocalDB;Trusted_Connection=True;MultipleActiveResultSets=true"
        />
</appSettings>
</configuration>