@model IEnumerable<Product>

<!DOCTYPE html>
<html>
<head>
    <title>Aplikacja</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/dist/allstyles.css" />
</head>
<a asp-action="Create" class="btn btn-sm btn-success adminBtn">Add New Product</a>
</ br>
<body class="container">
    <div class="row">
        <div class="col-md-4">
            <table>
                <thead>
                    <tr>
                        <th>
                            Product name
                        </th>
                    </tr>

                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>

           
</body>
</html>