<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/jquery.minicolors.css">
    <meta name="viewport" content="width=device-width">
    <title>SportsStore</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @await Component.InvokeAsync(nameof(WydarzeniaKalendarz))
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="~/jquery.minicolors.js"></script>
    <script>$('.demo').minicolors();</script>
    <script src="~/attributesTrigger.js"></script>
</body>
</html>