@model LoginModel
<div class="bg-primary m-1 p-1 text-white"><h4>Logowanie</h4></div>
<div class="text-danger" asp-validation-summary="All"></div>
<form asp-action="Login" method="post">
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    <div class="form-group">
        <label asp-for="Email">Adres e-mail</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password">Hasło</label>
        <input asp-for="Password" class="form-control" />
    </div>
    <button class="btn btn-primary" type="submit">Zaloguj</button>
    <div>
        <a class="btn btn-info" asp-action="GoogleLogin"
           asp-route-returnUrl="@ViewBag.returnUrl">
            Zaloguj się przez Google
        </a>
    </div>
    <div>
        <a class="btn btn-info" asp-action="FacebookLogin"
           asp-route-returnUrl="@ViewBag.returnUrl">
            Zaloguj się przez Facebook
        </a>
    </div>
</form>