@model List<StatsViewModel>

<!DOCTYPE html>
<html>
<head>
    <title>Aplikacja</title>
    <meta charset="utf-8">
    <style>
        .container {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <div>
        TEST
    </div>
    <div class="container">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    <script type='text/javascript' src="~/src/lib/Chart.bundle.min.js"></script>
    <script>
        //https://momentjs.com/docs/#/parsing/
        //https://www.chartjs.org/docs/latest/axes/cartesian/time.html
        var ctx = document.getElementById('myChart').getContext('2d');
        var data = [0, 59, 75, 20, 20, 55, 40, 59, 75, 20, 20, 55, 40];
        var labels = ["2013-02-08", "2013-02-09", "2013-02-10", "2013-02-11", "2013-02-12", "2013-02-13", "2013-02-14", "2013-02-15", "2013-02-16", "2013-02-17", "2013-02-18", "2013-02-19", "2013-02-20"];
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Car Speed',
                    data: data
                }]
            },
            options: {
                maintainAspectRatio: false,
                responsive: true,
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'day'
                        }
                    }]
                }
            }
        });
    </script>
</body>
</html>