<!DOCTYPE html>
<html lang="en">
<head>
    <script type='text/javascript' src="~/src/lib/chartjs/Chart.bundle.min.js"></script>
    <title>
        Analysis
    </title>
</head>
<body>
    <div>layout</div>
    <div>@RenderBody()</div>
</body>
</html>