@model ProductViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Aplikacja</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/dist/allstyles.css" />
</head>
<body class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">

                <input type="hidden" asp-for="ProductID" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Name: </label>
                    <div><span asp-validation-for="Name" class="text-danger"></span></div>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Description: </label>
                    <input asp-for="Description" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Clients">Klienci</label>
                    <select asp-for="ClientIds" class="form-control" asp-items="@Model.Clients"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>

            </form>
        </div>
    </div>
</body>
</html>