<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>JS Game Dev</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>