@model ResetPasswordViewModel

<h1>Reset Your Password</h1>

<form asp-controller="Account"
      asp-action="SendPasswordResetLinkAsync"
      method="post">

    <table>
        <tr>
            <td>
                <label asp-for="Email">
                    Email address :
                </label>
            </td>
            <td><input name="Email" type="text" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"
                       value="Reset Password" />
            </td>
        </tr>
    </table>
    <strong>@ViewBag.Message</strong>
    <div asp-validation-summary="All"></div>

</form>