@model IEnumerable<Reservation>

@{ Layout = "_Layout"; }
<!--zwykłe znaczniki(!!)-->
<form id="addform" asp-action="AddReservation" asp-controller="Home" method="post">
    <div class="form-group">
        <label for="ClientName">Imię:</label>
        <input class="form-control" name="ClientName" />
    </div>
    <div class="form-group">
        <label for="Location">Miejsce:</label>
        <input class="form-control" name="Location" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Dodaj</button>
    </div>
</form>
<table class="table table-sm table-striped table-bordered m-2">
    <thead><tr><th>ID</th><th>Klient</th><th>Miejsce</th></tr></thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.ReservationId</td>
                <td>@r.ClientName</td>
                <td>@r.Location</td>
            </tr>
        }
    </tbody>
</table>