

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@model string
@{
    Layout = null;
}

<!--/*creds: https://www.c-sharpcorner.com/article/asp-net-core-working-with-cookie/-->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cookies</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>Popup/Modal Windows without JavaScript</h1>
    <div class="box">
        <a class="button" href="#popup1">Let me Pop up</a>
    </div>

    <div id="popup1" class="overlay">
        <div class="popup">
            <h2>Here i am</h2>
            <a asp-controller="Home" asp-action="AddCookie" asp-route-key="xxx" asp-route-value="some_value" asp-route-expireTime="666" class="close">&times;</a>
            <div class="content">
                Thank to pop me out of that button, but now i'm done so you can close this window.
            </div>
        </div>
    </div>

    <a class="button" asp-controller="Home" asp-action="FindCookie">Find cookie</a>

    <div style="font-size: 30px;">@Model</div>

</body>
</html>