@model IEnumerable<React_01_Podrecznik.Models.Product>

<!DOCTYPE html>
<html>
<head>
    <title>Aplikacja</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/dist/allstyles.css" />
</head>
<body>
    <h1>Tu się zaczyna React</h1>
    <div id="app"></div>
    <br />
    <h1>Tu się zaczyna index.cshtml</h1>
    test
    @foreach (var item in Model)
    {
        @item.Name

    }
    @*dupa*@
    

    <br/>
    <script src="~/dist/bundle.js"></script>
    
</body>

</html>