<div class="container">
  <div class="row">
    <div class="col-sm-6">half</div>
    <div class="col-sm-6">
      <h1>Angular Radio Button Example</h1>

      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="gender">Gender:</label>

          <div class="custom-control custom-radio custom-control-inline">
            <input
              class="custom-control-input"
              id="male"
              type="radio"
              value="male"
              name="gender"
              formControlName="gender"
              (change)="changeGender($event)"
            />

            <label class="custom-control-label" for="male">Male</label>
          </div>

          <div class="custom-control custom-radio custom-control-inline">
            <input
              class="custom-control-input"
              id="female"
              type="radio"
              value="female"
              name="gender"
              formControlName="gender"
              (change)="changeGender($event)"
            />

            <label class="custom-control-label" for="female">Female</label>
          </div>

          <div
            *ngIf="f.gender.touched && f.gender.invalid"
            class="alert alert-danger"
          >
            <div *ngIf="f.gender.errors?.required">Name is required.</div>
          </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
