<div class="container">
  <div class="row">
    <div class="col-sm-6">half</div>
    <div class="col-sm-6">
      <h1>Angular Radio Button Example</h1>

      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
          <div class="row">
            <label class="titleLabel" for="gameMode">Game mode:</label>

            <div class="custom-control custom-radio custom-control-inline">
              <input
                class="custom-control-input"
                id="single"
                type="radio"
                value="single"
                name="gameMode"
                formControlName="gameMode"
                (change)="changeMode($event)"
              />
              <label class="custom-control-label" for="single"
                >Single player</label
              >
            </div>

            <div class="custom-control custom-radio custom-control-inline">
              <input
                class="custom-control-input"
                id="multi"
                type="radio"
                value="multi"
                name="gameMode"
                formControlName="gameMode"
                (change)="changeMode($event)"
              />
              <label class="custom-control-label" for="multi"
                >Multi player</label
              >
            </div>
            <div
              *ngIf="f.gameMode.touched && f.gameMode.invalid"
              class="alert alert-danger"
            >
              <div *ngIf="f.gameMode.errors?.required">
                Game mode is required.
              </div>
            </div>
          </div>
          <div class="row">
            <label class="titleLabel" for="gameSpeed">Game speed:</label>

            <div class="custom-control custom-radio custom-control-inline">
              <input
                class="custom-control-input"
                id="slow"
                type="radio"
                value="slow"
                name="gameSpeed"
                formControlName="gameSpeed"
                (change)="changeSpeed($event)"
              />
              <label class="custom-control-label" for="slow">Slow</label>
            </div>

            <div class="custom-control custom-radio custom-control-inline">
              <input
                class="custom-control-input"
                id="moderate"
                type="radio"
                value="moderate"
                name="gameSpeed"
                formControlName="gameSpeed"
                (change)="changeSpeed($event)"
              />

              <label class="custom-control-label" for="moderate"
                >Moderate</label
              >
            </div>

            <div class="custom-control custom-radio custom-control-inline">
              <input
                class="custom-control-input"
                id="fast"
                type="radio"
                value="fast"
                name="gameSpeed"
                formControlName="gameSpeed"
                (change)="changeSpeed($event)"
              />

              <label class="custom-control-label" for="fast">Fast</label>
            </div>

            <div
              *ngIf="f.gameSpeed.touched && f.gameSpeed.invalid"
              class="alert alert-danger"
            >
              <div *ngIf="f.gameSpeed.errors?.required">
                Game speed is required.
              </div>
            </div>
          </div>
          <div class="row">
            <label class="titleLabel" for="gameOpen">Game joining:</label>

            <div class="custom-control custom-radio custom-control-inline">
              <input
                [attr.disabled]="!multiplayer || null"
                class="custom-control-input"
                id="open"
                type="radio"
                value="open"
                name="gameOpen"
                formControlName="gameOpen"
                (change)="changeJoining($event)"
              />
              <label class="custom-control-label" for="open"
                >Open for all</label
              >
            </div>

            <div class="custom-control custom-radio custom-control-inline">
              <input
                [attr.disabled]="!multiplayer || null"
                class="custom-control-input"
                id="link"
                type="radio"
                value="link"
                name="gameOpen"
                formControlName="gameOpen"
                (change)="changeJoining($event)"
              />
              <label class="custom-control-label" for="link"
                >Join by link only</label
              >
            </div>
          </div>
          <div class="row">
            <label class="titleLabel" for="gameDifficulty"
              >Game difficulty:</label
            >

            <div class="custom-control custom-radio custom-control-inline">
              <input
                [attr.disabled]="multiplayer || null"
                class="custom-control-input"
                id="easy"
                type="radio"
                value="easy"
                name="gameDifficulty"
                formControlName="gameDifficulty"
                (change)="changeDifficulty($event)"
              />
              <label class="custom-control-label" for="easy">Easy</label>
            </div>

            <div class="custom-control custom-radio custom-control-inline">
              <input
                [attr.disabled]="multiplayer || null"
                class="custom-control-input"
                id="medium"
                type="radio"
                value="medium"
                name="gameDifficulty"
                formControlName="gameDifficulty"
                (change)="changeDifficulty($event)"
              />

              <label class="custom-control-label" for="moderate">Medium</label>
            </div>

            <div class="custom-control custom-radio custom-control-inline">
              <input
                [attr.disabled]="multiplayer || null"
                class="custom-control-input"
                id="hard"
                type="radio"
                value="hard"
                name="gameDifficulty"
                formControlName="gameDifficulty"
                (change)="changeDifficulty($event)"
              />

              <label class="custom-control-label" for="fast">Hard</label>
            </div>

            <div
              *ngIf="f.gameDifficulty.touched && f.gameDifficulty.invalid"
              class="alert alert-danger"
            >
              <div *ngIf="f.gameDifficulty.errors?.required">
                Game speed is required.
              </div>
            </div>
          </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
