<!DOCTYPE html>
<html>
<head>
    <title>Aplikacja</title>
    <meta charset="utf-8">
</head>
<body class="container">
    <div>
        TEST
    </div>
    <script>
        //strict mode
        function canYouSpotTheProblem() {
            "use strict";
            for (counter = 0; counter < 10; counter++) {
                console.log("Happy happy");
            }
        }
        canYouSpotTheProblem();
// → ReferenceError: counter is not defined

        //try catch
        function promptDirection(question) {
            let result = prompt(question);
            if (result.toLowerCase() == "left") return "L";
            if (result.toLowerCase() == "right") return "R";
            throw new Error("Invalid direction: " + result);
        }
        function look() {
            if (promptDirection("Which way?") == "L") {
                return "a house";
            } else {
                return "two angry bears";
            }
        }
        try {
            console.log("You see", look());
        } catch (error) {
            console.log("Something went wrong: " + error);
        }
    </script>
</body>
</html>