<script src="~/lib/d3/d3.min.js"></script>
<script src="~/js/site.js"></script>
<script src="~/lib/d3-scale-chromatic/d3-scale-chromatic.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <p>1/(x*x+1)</p>
            <svg id="svg1" width="300" height="200"></svg>
        </div>
        <div class="col-sm-4">
            <p>sin(x)</p>
            <svg id="svg2" width="300" height="200"></svg>
        </div>
    </div>

    <div class="row" style="margin-top:50px">
        <div class="col-sm-4">
            <p>sqrt(x)</p>
            <svg id="svg3" width="300" height="200"></svg>
        </div>
        <div class="col-sm-4">
            <p>x*sin(x*x)+1</p>
            <svg id="svg4" width="300" height="200"></svg>
        </div>
    </div>
</div>

<script type="text/javascript">
    //coś nie trybi rysowanie -> rozwiązanie problemu w Financial_ASP.NET_08_SVG_D3Lib_LineCharts
    d3.json("JsonData").then(function (data) {
        draw("#svg1", data.data1);
        draw("#svg2", data.data2);
        draw("#svg3", data.data3);
        draw("#svg4", data.data4);
    });

    //coś nie trybi rysowanie -> rozwiązanie problemu w Financial_ASP.NET_08_SVG_D3Lib_LineCharts
    function draw(svgSelection, data) {
        var svg = d3.select(svgSelection);
        var xmin = d3.min(data, function (d) { return d.x });
        var xmax = d3.max(data, function (d) { return d.x });
        var ymin = d3.min(data, function (d) { return d.y });
        var ymax = d3.max(data, function (d) { return d.y });
        var xscale = d3.scaleLinear().domain([xmin, xmax]).range([10, 280]);
        var yscale = d3.scaleLinear().domain([ymin, ymax]).range([10, 180]);
        var gen = d3.line().x(function (d) { return xscale(d.x); }).y(function (d) { return yscale(d.y); });
        svg.append("path")
            .attr("d", gen(data))
            .attr("stroke", "black")
            .attr("stroke-width", 2)
            .attr("fill", "none");
    }
</script>
