<!DOCTYPE html>
<html>
<head>
    <title>Witaj, React</title>
    <meta charset="utf-8">
</head>
<body>
    <div id="app">
        <!-- tutaj będzie renderowana moja aplikacja -->
    </div>
    <script src="react/book/react.js"></script>
    <script src="react/book/react-dom.js"></script>
    <!--KOMPONENTY-->
    <script>
        

        var logMixin = {
            _log: function (methodName, args) {
                console.log(this.name + '::' + methodName, args);
            },
            componentWillUpdate: function () {
                this._log('componentWillUpdate', arguments);
            },
            componentDidUpdate: function () {
                this._log('componentDidUpdate', arguments);
            },
            componentWillMount: function () {
                this._log('componentWillMount', arguments);
            },
            componentDidMount: function () {
                this._log('componentDidMount', arguments);
            },
            componentWillUnmount: function () {
                this._log('componentWillUnmount', arguments);
            },
        };

        var Counter = React.createClass({
            name: 'Counter',
            mixins: [logMixin],
            propTypes: {
                count: React.PropTypes.number.isRequired,
            },
            render: function () {
                return React.DOM.span(null, this.props.count);
            }
        });

        var TextAreaCounter = React.createClass({
            name: 'TextAreaCounter',
            mixins: [logMixin],
            getInitialState: function () {
                return {
                    text: this.props.text,
                };
            },
            _textChange: function (ev) {
                this.setState({
                    text: ev.target.value,
                });
            },
        getDefaultProps: function() {
            return {
                text: '',
            };
        },
            render: function () {
                var counter = null;
                if (this.state.text.length > 0) {
                    counter = React.DOM.h3(null,
                        React.createElement(Counter, {
                            count: this.state.text.length,
                        })
                    );
                }
                return React.DOM.div(null,
                    React.DOM.textarea({
                        value: this.state.text,
                        onChange: this._textChange,
                    }),
                    counter
                );
            }
        });


        
        ReactDOM.render(
            React.createElement(TextAreaCounter, {
                text: "Jan",
            }),
            document.getElementById("app")
        );

       


    </script>
</body>
</html>