<!DOCTYPE html>
<html>
<head>
    <title>Witaj, React</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="bundle.css">
</head>
<body>
    <div id="app">
        <!-- tutaj będzie renderowana moja aplikacja -->
    </div>
    <script src="bundle.js"></script>
    <!--KOMPONENTY-->
    <script>
        
    </script>
</body>
</html>