@{
    Layout = "_Layout";
}
<body class="container">
    <div>
        not counting here
    </div>

    <a asp-action="Index">Index (not count)</a>
    <a asp-action="Other">Other (count)</a>
</body>