<select id='compositingSelect' size='11'>
    <option value='source-atop'>source-atop</option>
    <option value='source-in'>source-in</option>
    <option value='source-out'>source-out</option>
    <option value='source-over'>source-over (default)</option>
    <option value='destination-atop'>destination-atop</option>
    <option value='destination-in'>destination-in</option>
    <option value='destination-out'>destination-out</option>
    <option value='destination-over'>destination-over</option>
    <option value='lighter'>lighter</option>
    <option value='copy'>copy</option>
    <option value='xor'>xor</option>
</select>
<canvas id='canvas' width='600' height='420'>
    Canvas not supported
</canvas>
<script src='~/js/example.js'></script>