<body>
    <script src="https://www.paypal.com/sdk/js?client-id=AfBWEK4j0TneHabhJFifQf1tdjztNZUU3hCLp_eTUXbo9nzEPu_aWFcs4zpLIZCZjFgmNVuwvkoZdCQM">
        // Required. Replace SB_CLIENT_ID with your sandbox client ID.
    </script>

    <div id="paypal-button-container"></div>

    <script>
        paypal.Buttons({
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        description: 'Sandbox transaction testing bleble',
                        amount: { value: '0.06' },
                    }]
                });
            },
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    alert('Transaction completed by ' + details.payer.name.given_name);
                    // Call your server to save the transaction
                    return fetch('https://localhost:44339/Home/Success', {
                        method: 'post',
                        headers: {
                            'content-type': 'application/json'
                        },
                        body: JSON.stringify({ orderID: data.orderID })
                    }).then(function (response) {
                        if (response.status !== 200) {
                            console.log('fetch returned not ok' + response.status);
                        }
                        else {
                            redirect: window.location.replace("https://localhost:44339/Home/Completed")
                        }
                    }).catch(function (err) {
                        console.log(`error: ${err}`);
                    });;
                });
            },
            // --------- onCancel ---
            onCancel: function (data, actions) {
                redirect: window.location.replace("https://localhost:44339/Home/Cancel")
            },
            // --------- onError ---
            onError: function (err) {
                redirect: window.location.replace("https://localhost:44339/Home/Error")
            }
        }).render('#paypal-button-container');
    </script>

</body>