@model int
@{
    Layout = "_Layout";
}

<body class="container">
    <div>
        @Model
    </div>

    <a asp-action="Index">Index (not count)</a>
    <a asp-action="Other">Other (count)</a>
</body>