.inputSelect {
    color: black;
    font-size: 18px;
    height: 150px;
    width: 29.4vw;
}

.barItem {
    color: white;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 20px;
    display: block !important;
}

.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}

    .selectBox select {
        width: 100%;
        font-weight: bold;
    }

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.checkboxes {
    display: none;
    border: 1px #dadada solid;
    max-height: 80px;
    overflow-y: auto;
}

    .checkboxes label {
        display: block;
    }

        .checkboxes label:hover {
            background-color: #1e90ff;
        }
