@model CreateModel
<div class="bg-primary m-1 p-1 text-white"><h4>Tworzenie użytkownika</h4></div>
<div asp-validation-summary=" All" class="text-danger"></div>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name">Nazwa użytkownika</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email">Adres e-mail</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password">Hasło</label>
        <input asp-for="Password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Utwórz</button>
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>