<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Last Colony</title>
    <link rel="stylesheet" href="~/styles.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/js/common.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/js/game.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/js/mouse.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/js/singleplayer.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/js/maps.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>