@model ColorPanel
@{
    ViewBag.Title = "Edycja biblioteka";
}

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="ID" />
    <div class="form-group">
        <label asp-for="Element1BackgroundColor">Element1BackgroundColor</label>
        <div><span asp-validation-for="Element1BackgroundColor" class="text-danger"></span></div>
        <input asp-for="Element1BackgroundColor" type="text" class="form-control wysiwyg" />
    </div>
    <div class="form-group">
        <label asp-for="Element2BackgroundColor">Element1BackgroundColor</label>
        <div><span asp-validation-for="Element2BackgroundColor" class="text-danger"></span></div>
        <input asp-for="Element2BackgroundColor" type="text" class="form-control demo" />
    </div>
    <div class="form-group">
        <label asp-for="Element3BackgroundColor">Element1BackgroundColor</label>
        <div><span asp-validation-for="Element3BackgroundColor" class="text-danger"></span></div>
        <input asp-for="Element3BackgroundColor" type="text" class="form-control demo" />
    </div>
    <div class="text-center">
        <button class="btn btn-success" type="submit">Zapisz</button>
        <a asp-action="Index" asp-controller="Product" class="btn btn-primary">Powrót</a>
    </div>

    <div class="space"></div>
</form>