<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/StyleSheet.css">
    <meta name="viewport" content="width=device-width">
    <title>SportsStore</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>