<!DOCTYPE html>
<html>
<head>
    <title>Aplikacja</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<body class="container">

    @await Component.InvokeAsync(nameof(Dupa), new { list = ViewBag.TableList, page = ViewBag.PageNo })

</body>
</html>
