@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    Layout = null;
}

<!--/*creds: https://codepen.io/RRoberts/pen/kXvVrR/*/-->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Checkbox</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="checkboxWrapper">
        <label class="check">
            <input type="checkbox" />
            <div class="box"></div>
        </label>
        <div class="checkboxComment">I accept</div>
    </div>
</body>
</html>