secret / client ID from here:
https://developer.paypal.com/developer/applications/

<div>
    <a asp-action="PaymentWithCreditCard">Credit Card</a>
    <a asp-action="PaymentWithPaypal">PayPal</a>
</div>